body{
    margin: 0;
    padding: 0;
}

.parent{
    width: 400px;
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.child{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: bisque;
    overflow-y: scroll;
    padding: 10px;
    margin: 10px;
}

.child:nth-child(1){
    margin-top: 0;
}

.child:last-child{
    margin-bottom: 0;
}